
<div class="col-md-13" >
    <div class="card">
        <div class="card-body">
            <div class="progress-card">
                <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">@ViewBag.customerCountLabel</span>
                    <span class="text-muted fw-bold"> @ViewBag.customerCount</span>
                </div>
                <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="78%"></div>
                </div>
            </div>
            <div class="progress-card">
                <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">@ViewBag.categoryCountLabel</span>
                    <span class="text-muted fw-bold"> @ViewBag.categoryCount</span>
                </div>
                <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="65%"></div>
                </div>
            </div>
            <div class="progress-card">
                <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">@ViewBag.employeeCountLabel</span>
                    <span class="text-muted fw-bold"> @ViewBag.employeeCount</span>
                </div>
                <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 10%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="70%"></div>
                </div>
            </div>
            <div class="progress-card">
                <div class="d-flex justify-content-between mb-1">
                    <span class="text-muted">@ViewBag.productCountLabel</span>
                    <span class="text-muted fw-bold"> @ViewBag.productCount</span>
                </div>
                <div class="progress mb-2" style="height: 7px;">
                    <div class="progress-bar bg-primary" role="progressbar" style="width: 45%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" data-toggle="tooltip" data-placement="top" title="60%"></div>
                </div>
            </div>

        </div>
    </div>
</div>

